
body {
    background-color: gray;
    margin-top:6%;
    
}

#active a{
    color:#80acd3;
}
#right-item{
    margin-left: auto;
    margin-right: 0;
}

.container-nav{
    background-color: rgb(65, 55, 55);
    display:flex;
    flex-wrap: wrap;
    top:0;
    left:0;
    width: 100%;
    position: fixed;
    
}
.container-nav a{
    text-decoration: none;
    color: black;
}
.container-nav a:hover{
    font-size: 20px;
    color:whitesmoke;
}
.flex-item #logo1{
    width: 70%;
    left: 0;
}
#item1.flex-item{
    max-width:20%;
    
}
#item2.flex-item{
    max-width: 50%;
    align-self: center;
}
.menu {
    min-width: 200px;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
    padding-top: 2%;
    padding-bottom: 2%;
}
.menu img{
    width: 15%;
}
.flex-item{
    flex: auto;
}
.container-info {
    display: flex;
    flex-direction: row;

}
.copyright {
    display: flex;
    justify-content: center;
    font-size: .875rem;
    color: var(--text-light);
}
@media (max-width: 800px) {
    .container-nav {
        flex-direction: column;
    }

    #right-item {
        margin-right: auto;
    }
}