
body {
    background-color: gray;
    margin-top:6%;
    
}


#active a{
    color:#80acd3;
}
#right-item{
    margin-left:50%;
    
}

.container-nav{
    background-color: rgb(65, 55, 55);
    display:flex;
    flex-wrap: wrap;
    top:0;
    left:0;
    width: 100%;
    position: fixed;
    
}
.container-nav a{
    text-decoration: none;
    color: black;
}
.container-nav a:hover{
    font-size: 20px;
    color:whitesmoke;
}
.flex-item #logo1{
    width: 70%;
    left: 0;
}
#item1.flex-item{
    max-width:20%;
    
}
#item2.flex-item{
    max-width: 50%;
    align-self: center;
}
.menu {
    min-width: 200px;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
    padding-top: 2%;
    padding-bottom: 2%;
}
.menu img{
    width: 15%;
}
.flex-item{
    flex: auto;
}
.container-info {
    display: flex;
    flex-direction: row;
}
.title-register{
    color: rgb(182, 55, 55);
}
.container-register{
  
    box-shadow: grey;
    background-color: #434849;
    color:#000000;
    border-radius: 5%;
    margin: auto;
    margin-top:5%;
    text-align:center;
    width: 40%;
    padding: 1%;
}
#a_reg{
    color:beige;
}
#btn_submit{
    margin: 28px;
}
.form-register{
    padding:16px;
}
@media (max-width: 800px) {
    .container-nav {
        flex-direction: column;
    }

    #right-item {
        margin-right: auto;
    }
}